article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/* light pink: #ffddee */

.App {
  text-align: center;
}

body {
  background-color: lavender;
  color: hotpink;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

h1 {
  padding: 25px 0;
  color: tomato;
  font-family: 'Ranga', cursive;
  font-weight: 700;
  font-size: 100px;
  margin: 0;
}

.formWrapper {
  display: flex;
  background: whitesmoke;
  width: 950px;
  height: 400px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 10px 10px 0px hotpink;
  border: 2px solid hotpink;
}

.description {
  text-align: left;
  padding-left: 10px;
  padding-right: 30px;
  line-height: 1.5;
  border-right: 2px solid hotpink;
  margin: 0;
}

form {
  background: whitesmoke;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
}

input,
textarea {
  background: #ffddee;
  color: orangered;
  font-family: 'Poppins', sans-serif;
  border: none;
  margin-bottom: 25px;
  font-size: 16px;
  width: 500px;
}

input[name="personsName"] {
  padding: 10px;
}

textarea {
  padding: 10px;
  height: 200px;
  resize: none;
}

.send {
  width: 100px;
  margin: 0 auto;
  background: tomato;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.send:hover {
  background: #ffddee;
  color: tomato;
}

.mailbox {
  margin: 80px 0 40px 0;
  color: tomato;
}

h2 {
  font-size: 25px;
}

i {
  margin: 0 20px;
}

ul {
  list-style: none;
  width: 90%;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column-reverse;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;

} 

li {
  background: whitesmoke;
  margin: 20px;
  width: 50%;
  height: 100%;
  padding: 15px;
  border: solid 1px hotpink;
  display: inline-block;
}

/* ul {
  list-style: none;
  width: 90%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 100px;
 
} 

li {
  background: whitesmoke;
  margin: 20px;
  width: calc(33% - 40px);
  height: 100%;
  padding: 15px;
  float: left;
}  */



.recipient,
.admirer {
  font-family: 'Ranga', cursive;
  font-weight: 400;
  font-size: 28px;
}

.likes {
  background: whitesmoke;
  border: none;
  color: tomato;
  padding-bottom: 20px;
}

footer p {
  margin: 0;
  font-size: 15px;
  padding-bottom: 20px;
  letter-spacing: .5px;
  color: tomato;
}